.container {
  margin-bottom: 30px;
  border-radius: 15px;
  padding: 20px;
}

.title {
  font-family: "Chalk", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 100px;
}

.review {
  /* color: black; */
  display: flex;
  justify-self: center;
  align-items: center;
  width: 600px;
  padding: 20px;
  margin: 40px;
  height: 250px;
  border-radius: 20px;
  /* border: 1px solid white; */
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* background-image: url("../../assets/cute-cartoon-of-a-speech-bubble-png.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
