@font-face {
  font-family: "Chalk";
  src: url("../../assets/fonts/Stylish Marker demo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  margin-bottom: 30px;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  background-size: cover;
}

.title {
  font-family: "Chalk", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 100px;
  margin-bottom: 20px;
}

.wrap {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.text {
  color: white;
  width: 450px;
}

.pic {
  width: 300px;
  height: 500px;
}

.button {
  display: block;
  border-radius: 100px;
  border: none;
  background-color: #ff0033;
  color: white;
  height: 50px;
  width: 200px;
  margin: 0 auto;
}

.line {
  margin-top: 50px;
  width: 100%;
  height: 2px;
  background-color: #ff0033;
}
