.container {
  margin-bottom: 30px;
  border-radius: 15px;
  padding: 20px;
}

.title {
  font-family: "Chalk", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 100px;
}

.courseWrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.courseTitle {
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-bottom: 30px;
}

.courseInfo {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  margin-bottom: 20px;
}

.accordion {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.desc {
  text-align: center;
}

.buyLink {
  color: inherit;
  text-decoration: none;
  display: flex;
}

.buyButton {
  border-radius: 100px;
  border: none;
  background-color: #ff0033;
  color: white;
  height: 50px;
  width: 200px;
  margin: 0 auto;
  cursor: pointer;
}
