.container {
  border-radius: 15px;
  padding: 40px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.15);
}

.title {
  color: inherit;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.listItem {
  text-decoration: none;
  cursor: pointer;
}

.listLink {
  color: inherit;
  text-decoration: none;
}

.social {
  color: inherit;
  text-decoration: none;
  padding: 20px;
  display: flex;
  gap: 3px;
  align-items: center;
}

.modalOpen {
  overflow: hidden;
}

.wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 1368px) {
  .container {
    padding: 10px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .social {
    padding: 10px;
  }

  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
